<!-- Text for the main page -->
   <br /><br />
<div class = center>
<p>
  Connect with people you trust -- your Inner Circle </p><br />


<p> See what they have to sell and make your move </p><br />


<p><i> Spam free - Hassle free - Flag free</i> </p><br />



<p>  At MyInnerCircle you can create a network of friends, see each others postings and deal with trust </p>

</div>