
<%= form_for(@friend, remote: true, :html => {:class => "form-inline"}) do |f| %>

    <div class="field">
      <br />
      <%= f.email_field :friend_id, :class=>"input-medium", :placeholder => "Enter Friend's Email Id"%>
    </div>

    <div class="actions">
      <%= f.submit "Add Friend" %>
      <br />
    </div>

<% end %>

