<table>


  <% @friends.each do |friend| %>
      <tr>
        <td><%=User.find(friend.friend_id).first_name + " " +
                       User.find(friend.friend_id).last_name %> <br />

          <%= "(" + User.find(friend.friend_id).email + ")"%></td>

        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>





