
<div class="container-fluid" >
  <div class="row-fluid">
    <div class="span12" style=" border-bottom:1px solid #ccc;">
            <%= render 'devise/shared/sign_in' %>
    </div>
  </div>

<br />
  <div class="row-fluid">


    <div class = "span6" style="padding-left:20px;">
      <%= render 'devise/shared/text' %>
    </div>

    <div class = "span6" style="padding-left:25px; border-left: 1px solid #ccc;">
      <%= render 'devise/shared/sign_up' %>
    </div>


  </div>

</div>
