
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <div class="row-fluid">

        <div class="span7" >
          <%= link_to "MyInnerCircle", home_index_path, id: "logo" %>
        </div>

        <div class="span2 offset2" >
          Welcome <%= current_user.first_name %>
        </div>

        <div class="span1 " >

           <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :id=>'Sign out' %>
        </div>

      </div>
    </div>
  </div>
</header>

<br /><br /><br />
